{% extends "layout.html" %}
{% block body %}
<div class="row row-centered">
    <div class="col-xs-8 col-sm-7 col-md-12 col-lg-12">
      <div class="panel-group">          
        <div class="panel panel-default">
          <div class="panel-heading">Module status</div>
          <div class="panel-body">
            <div id="job" class="row">
              {{job_table}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  function change_enable(url, state){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "http://127.0.0.1:5050/change_enable?url=" + url + "&ori_state=" + state);
    xhr.onload = function () {
    }
    xhr.send();
  }
</script>
{% endblock %}
